<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852808625695-dec7hcdctmbv2qnq9o8jcg18ngv5focp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852808625695-dec7hcdctmbv2qnq9o8jcg18ngv5focp</string>
	<key>API_KEY</key>
	<string>AIzaSyCTOgvy4uw1idBzOuu4b7buyf2D4Z8xSl0</string>
	<key>GCM_SENDER_ID</key>
	<string>852808625695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.instedd.ilabsea.TreyVisay</string>
	<key>PROJECT_ID</key>
	<string>treyvisay-b05fc</string>
	<key>STORAGE_BUCKET</key>
	<string>treyvisay-b05fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852808625695:ios:90c0dd68d8faf57f</string>
	<key>DATABASE_URL</key>
	<string>https://treyvisay-b05fc.firebaseio.com</string>
</dict>
</plist>